src/infi/recipe/template/version/__version__.py
setup.py

# generic
*.tmp
*.swp
*.pyc
*.pyo
*.bak
*.egg-info
*.EGG-INFO
.coverage
.settings
.gitconfig
__VERSION__.py

# eclipse
.project
.pydevproject

# setuptools
bin/
build/
dist/

# buildout
.installed*.cfg
.cache/
eggs/
develop-eggs/
parts/
build/
dist/

# scm
.bzr/
.svn/
.hg/

setup.py
src/infi/recipe/template/version/__version__.py
.cache
eggs
parts
